* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-image: url("./Assets/shipimage.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
}

.heading {
  margin: 0;
  color: #e3f2fd;
}




@media only screen and (max-width: 970px) {
 
  table {
    font-size: 15px;
  }
}

@media only screen and (max-width: 930px) {


  table {
    font-size: 12px;
  } 
}


@media only screen and (max-width: 930px) {
  table {
    font-size: 10px;
  }
}