* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/INS_Vikrant_%28R11%29_and_INS_Vikramaditya_%28R33%29_with_the_carrier_battle_group.jpg/1280px-INS_Vikrant_%28R11%29_and_INS_Vikramaditya_%28R33%29_with_the_carrier_battle_group.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}

.heading {
  margin: 0;
  color: #e3f2fd;
}




@media only screen and (max-width: 970px) {
 
  table {
    font-size: 15px;
  }
}

@media only screen and (max-width: 930px) {


  table {
    font-size: 12px;
  } 
}


@media only screen and (max-width: 930px) {
  table {
    font-size: 10px;
  }
}