

  tr:nth-child(even) {
    background-color: rgb(69, 147, 196);
    color: rgb(255, 255, 255);
  }
  .tables {
    margin: 10px;
    margin-top: 15px;
    text-align: left;
    width: 25%;
    padding: 0;
    border-radius: 7px;
    background: white;
  }
  .tables h1 {
    text-align: center;
    color: white;
    background: rgb(0 106 172);
  }
  .status {
    text-align: center;
    color: rgb(255, 0, 0);
  }
