.Main {
    background: rgb(0 255 255 / 26%);
    width: 95vw;
    margin: auto;
    height: 88vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-between;
    
  }
  @media only screen and (max-width: 930px){
    .Main {
        justify-content: space-around;
      }
  }

  .zones {
    display: flex;
    
    justify-content: center;
  
    flex-wrap: wrap;
    width: 100%;
    
  }